doctype html
html(lang='en')
	head
		title demo
		script( src='react.js')
		script( src="react-dom.js")
		script( src="browser.min.js")
	body
		div#demo
		script(type='text/babel', src='jsx/demo.js')
