doctype html
html(lang='en')
	head
		title HTML5 DEMO
		meta( charset='utf-8' )
		meta( name='viewport', content='width=device-width, initial-scale=1, user-scalable=no' )
		//link(rel="stylesheet", href="css/main.css")
		//script( src='react.js')
		//script( src="react-dom.js")
		//script( src="browser.min.js")
	body
		block content
		//div#demo
		//script(type='text/babel', src='../out/bundle.js')
